{% extends 'DembeloMain::base.html.twig' %}
{% block title %}Login{% endblock %}
{% block body %}
    <div class="row ">
        {% if error %}
            <div class="form-errors">
                <i class="ion-alert-circled"></i>{{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}
