{#
Copyright (C) 2015 Michael Giesler

This file is part of Dembelo.

Dembelo is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Dembelo is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU Affero General Public License 3 for more details.

You should have received a copy of the GNU Affero General Public License 3
along with Dembelo. If not, see <http://www.gnu.org/licenses/>.
#}


{% extends 'DembeloMain::base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div id="row1" class="row ">
        <div class="col-xs-12">
            <h1>Registrierung</h1>
            <div class="alert alert-info" role="alert">
                Ab dem 14.12.2015 startet die geschlossene Beta von <em>"waszulesen.de"</em>. Die bis dahin
                registrierten Testleser bekommen ca. 70 Textknoten aus dem <em>"Steine im Weste"</em>-Projekt zu lesen,
                angeordnet in einem hierarchischen und in einem ungeordneten Netzwerk. Die Texte entstehen im Rahmen von
                <em>"NaNoWriMo"</em>, werden daher Rohfassungen sein. Der Zweck der Beta besteht darin, das Verhalten
                von Lesern in vernetzten Inhalten zu beobachten und zu testen.
            </div>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}

