.idea
.vagrant
*.sublime-project
*.sublime-workspace
files/twine
www/app/spool
www/var/cache
www/var/logs
www/web/css/
www/web/images/
www/web/js/
www/uploads/*
!www/uploads/twine/.gitkeep
!www/uploads/topicimage/.gitkeep
tmp
www/coverage
docker/mongodb_data
!docker/mongodb_data/.gitkeep
