<!-- Modal -->
<div class="modal" id="{{ dialogId }}">
    <div class="modal-inner">
        <div class="modal-content">
            <div class="modal-close-icon">
                <a href="javascript:void(0)" class="modal-closer" data-modal="{{ dialogId }}"><i class="ion-close-circled" aria-hidden="true"></i></a>
            </div>
            {% block modalFormStart %}{% endblock %}
            <div class="modal-content-inner">
                <h4>{% block modalLabel %}This is the heading{% endblock %}</h4>
                {% block modalContent %}...{% endblock %}
            </div>
            <hr class="modal-buttons-seperator">
            <div class="modal-buttons">
                {% block modalFooter %}
                    <button class="button close-modal">Cancel</button>
                    <button class="button button-primary close-modal">OK</button>
                {% endblock %}
            </div>
            {% block modalFormEnd %}{% endblock %}
        </div>
    </div>
</div>