<header id="toolbar">
    <div class="container">
        <div id="menu-icon" class="menu-icon">
            <i class="ion-navicon-round"></i>
        </div>
        <div id="beta-hint">
            Beta
        </div>
        {% if showBackButton is defined and showBackButton %}
            <a href="{{ path('back') }}">
            <div id="back-icon" class="back-icon">
                <i class="ion-android-arrow-dropup-circle"></i>
            </div>
        </a>
        {% endif %}

    </div>
</header>