<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Was zu lesen - Admin Area{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="/js/libs/webix/webix.css" type="text/css">

        {% stylesheets '@DembeloMain/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}">
        {% endstylesheets %}

    {% endblock %}

    {% block javascripts %}
        <script src="/js/libs/webix/webix.js" type="text/javascript"></script>
        <script data-main="/bundles/admin/js/main" src="/js/libs/require.js"></script>

    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
    {% block body %}
        main admin body
    {% endblock %}
</body>
</html>
