{% extends 'DembeloMain::base.html.twig' %}
{% block title %}Ups... Da ist etwas schief gelaufen!{% endblock %}

{% block body %}
    <h1>Ups... Da ist etwas schief gelaufen!</h1>
    <h2>Ein Techniker wurde informiert.</h2>
    <p>
        Die angeforderte Seite konnte leider nicht gefunden werden.
    </p>
    <p>
        Versuch es nochmal und gehe zur
        <a href="{{ path('mainpage') }}">Startseite</a> zurück. <br />
        Falls du meinst, hier auf einen Fehler im System gestoßen zu sein, laden
        wir dich herzlichst zur Mitarbeit auf
        <a href="https://www.github.com/typearea/dembelo" target="_blank">github</a>
        ein.
    </p>
{% endblock %}