#content-page {
  .read {
    font-family: "Linux Libertine", serif;
    text-align: justify;
    font-size: 16px;
  }
  .well {
    border: 1px solid $brown;
    padding: 12px;
    border-radius: 10px;
    margin: 10px;

    h3 {
      display: block;
      border-bottom: 1px solid grey;
      font-size: 1.5rem;
    }
  }

  #social-sharing-bar {
    margin: 10px;
    height: 24px;

    #facebook-sharebutton {
      width: 62px;
      height: 20px;
      padding: 0;
      line-height: 22px;
      border: 0px;
      cursor: pointer;
    }

    #facebook-sharebutton:hover {
      border: 0px;
    }
  }

}