#content-page {
  .read {
    font-family: "Linux Libertine", serif;
    text-align: justify;
    font-size: 16px;
  }
  .well {
    border: 1px solid $brown;
    padding: 12px;
    border-radius: 10px;

    h3 {
      display: block;
      border-bottom: 1px solid grey;
      font-size: 1.5rem;
    }
  }
}