body#dashboard {
  .genres {

    .linebreakafter {
      clear:both;
    }

    .cover {

      //display:none;
      float:left;

      img {
        display: block;
      }

      .favorite {
        position: absolute;
      }

    }
  }
}