@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'Linux Libertine'; /* normal */
  src: url('../fonts/LinLibertine/LinLibertine_R.woff') format('woff'),
  url('../fonts/LinLibertine/LinLibertine_R.otf') format('opentype'),
  url('../fonts/LinLibertine/LinLibertine_R.svg#LinuxLibertineORegular') format('svg'),
  url('../fonts/LinLibertine/LinLibertine_Rah.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
$font-color: $brown;