* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  color: $font-color;
  padding-top: 56px;
  background: $sepia;

  &.nav-active {
    header, main {
      transform: translateX($nav-width);
    }
  }

  header, main {
    transition: transform 0.3s ease;
  }
  main {
    padding-top: 20px;
  }
}