$red: #D51B0F;
$red-dark: #6A1B1E;
$blue: #6A8886;
$blue-light: #A6D4D1;
$blue-dark: #283B3A;
$orange: #C97400;
$orange-dark: #7C4800;
$sepia: #D7C38E;
$grey: #afafaf;
$brown: #574820;
$black: #000;
$white: #fff;
