@import "variables";
/**
* Skeleton Styles
*/
// import normalize-scss
@import "../../../../../web/vendor/normalize-scss/sass/normalize/import-now";
// Skeleton Sass core loader
@import "../../../../../web/vendor/skeleton-sass/skeleton/core/config";
// import default theme variables
@import "variables/skeleton";
// theme base styles
@import "skeleton/themes/dembelo";
// theme grid styles
@import "../../../../../web/vendor/skeleton-sass/skeleton/themes/fresh/skeleton";
/**
* Dembelo Styles
*/
// import variables
@import "fonts";
@import "variables/dashboard";
@import "variables/layout/navigation";
@import "variables/form";
// import layout
@import "layout";
@import "layout/toolbar";
@import "layout/navigation";
@import "form";
@import "dashboard";