/**
* Skeleton Styles
*/
// import normalize-scss
@import "../../../../../web/vendor/normalize-scss/sass/normalize/import-now";
// Skeleton Sass core loader
@import "../../../../../web/vendor/skeleton-sass/skeleton/core/config";
// import default theme variables
@import "variables/skeleton";
// theme base styles
@import "../../../../../web/vendor/skeleton-sass/skeleton/themes/fresh/base";
// theme grid styles
@import "../../../../../web/vendor/skeleton-sass/skeleton/themes/fresh/skeleton";
/**
* Dembelo Styles
*/
// import variables
@import "variables/dashboard";
// import layout
@import "layout";
@import "form";
@import "dashboard";