{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <div id="row1" class="row ">
        <div class="col-xs-12">
            <h1>Registrierungsformular</h1>
            Da wir uns in einer geschlossenen Betaphase befinden, ist eine Registrierung natürlich nicht möglich.
        </div>
    </div>
</div>
{% endblock %}

