<div id="carousel-bookmark" class="carousel slide" data-ride="carousel">
  <!-- Positionsanzeiger -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-bookmark" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-bookmark" data-slide-to="1"></li>
    <li data-target="#carousel-bookmark" data-slide-to="2"></li>
  </ol>

  <!-- Verpackung für die Elemente -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      {% image '@DembeloMain/Resources/public/images/lesezeichen01.jpg' %}
      <img src="{{ asset_url }}" alt="Lesezeichen 1" />
      {% endimage %}
      <div class="carousel-caption">
        Dein erstes Lesezeichen
      </div>
    </div>
    <div class="item">
      {% image '@DembeloMain/Resources/public/images/lesezeichen02.jpg' %}
      <img src="{{ asset_url }}" alt="Lesezeichen 2" />
      {% endimage %}
      <div class="carousel-caption">
        Dein zweites Lesezeichen
      </div>
    </div>
    <div class="item">
      {% image '@DembeloMain/Resources/public/images/lesezeichen03.jpg' %}
      <img src="{{ asset_url }}" alt="Lesezeichen 3" />
      {% endimage %}
      <div class="carousel-caption">
        Dein drittes Lesezeichen
      </div>
    </div>
  </div>

  <!-- Schalter -->
  <a class="left carousel-control" href="#carousel-bookmark" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Zurück</span>
  </a>
  <a class="right carousel-control" href="#carousel-bookmark" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Weiter</span>
  </a>
</div>