{% extends 'base.html.twig' %}

{% block bodyid %}content-page{% endblock %}

{% block body %}
<p>Simon fuhr sich durch das vom Regen nasse Haar und beobachte wie
der junge Mann mit dem mondsichelförmigen Mal auf dem Gesicht, den
Dachdecker auf die Beine zog. In seinem Kopf herrschte eine
merkwürdige Leere, als würde etwas völlig Neues beginnen, von dem
er keine Vorstellung hatte, oder viel mehr, als würde alles, was er
gekannt hatte enden. 
</p>
<p>Die Prophezeiung vom Untergang der Magier hatte sein ganzes Leben
geprägt. Bereits sein Vater hatte dem Rebellenorden angehört und
Simon war in der verschworenen Gemeinschaft der Aufständischen
aufgewachsen. Als Kind hatte er sich oft ausgemalt, wie es sein
würde, wenn der Auserwählte kam. Der große Streiter, mit dem Mal
der Flut im Gesicht und resistent gegen jeden Zauber. Ein wahrer
Krieger, der die Stämme von Gattland zusammenrufen und gegen die
verhasste, weiße Stadt der Magier führen würde. Es waren
Kinderträume und daher war auch er in diesen Träumen stets ein Kind
gewesen, ein pummeliger Junge, der sich am Straßenrand an den
Schaulustigen vorbeidrängelte, um den großen Helden als erster zu
sehen, während dieser auf seinem Streitross, milde lächelnd und
winkend durch das Dorf ritt. 
</p>
<p>In Wirklichkeit war es ganz anders gekommen. Ja, er hatte die Ehre
gehabt den Auserwählten als Erster zu sehen, doch er war nicht auf
einem Streitross angeritten, sondern hatte blutverschmiert und
schreiend in einem Weidenkorb gelegen. 
</p>
<p>Erneut wischte er sich das graue Haar aus dem Gesicht und das
Regenwasser aus den Augen, atmete tief durch und ging auf seinen
Ziehsohn zu.</p>
<p>„Oh, ist es wieder mal so schlimm?“, fragte der junge Mann und
lächelte. „Gestern Abend habe ich ihn mit Franel und Jesua am Hang
gesehen.“</p>
<p>Erst jetzt wurde ihm klar, dass Alim noch nichts wusste. Woher
auch, er hatte mit dem Orden nur wenig zu tun. 
</p>
<p>„Nein, ich ...“, er suchte nach den richtigen Worten. 
</p>
<p>„Er ist tot, Alim“, sagte er dann und merkte wie seine Stimme
brach.</p>
<p>„Wer ist tot?“, fragte Alim nach doch Simon sah ihm an, dass
ein Teil von ihm es bereits begriff.</p>
<p>„Der Auserwählte“, sagte er und wunderte sich, wieso er Alim
gegenüber diesen Titel wählte. 
</p>
<p>„Dein Bruder“, korrigierte er sich, „Kail, er ist tot. Seit
heute Nacht.“</p>
<p>Alim presste die Lippen aufeinander, zog die Augenbrauen zusammen
und verkniff die Augen. Es sah aus, als würde er es nicht glauben
können, doch dann zuckten seine Mundwinkel, er prustete und schlug
sich die Hand vor den Mund.</p>
<p>„Hat er sich totgesoffen?“, platzte es aus ihm heraus. Simon
starrte ihn ungläubig an und ignorierte die Frage.</p>
<p>„Lachst du etwa?“, fragte stattdessen zurück und war versucht
Alim wie ein Kind zurecht zu weisen. 
</p>
<p>„Das kann ja auch nur ein Scherz sein!“, entgegnete Alim etwas
zu laut und Simon zog ihn von der Straße weg, zwischen zwei Hütten.</p>
<p>„Es ist ernst, Alim. Ernster als du es dir vorstellen kannst.
Der Orden hat heute Nacht seinen Anführer verloren, der Aufstand
seinen Helden.“</p>
<p>Alim schüttelte den Kopf, fuhr sich mit den Händen durchs
Gesicht und atmete aus, um das Grinsen von seinem Gesicht zu
vertreiben.</p>
<p>„Ich weiß, dass es für den Orden ein schwerere Schlag ist und
es tut mir leid, weil es für Euch ein persönlicher Verlust ist,
aber mein Bruder war ein arroganter Mistkerl und weder ein Anführer
noch ein Held und das wisst Ihr genauso gut wie ich, Simon.“</p>
<p>Simon wandte sich ab. Er hätte gerne widersprochen, seinen toten
Sohn verteidigt, die Ikone seines Ordens im hellsten Licht erstrahlen
lassen. Doch er selbst hatte Kail heute morgen mit aufgeknöpften
Hosen über dem Zaun zum Schafspferch hängend gefunden. Der
Auserwählte, der strahlende Held, der Retter der Geknechteten, hatte
sich an einer kaputten Zaunlatte erstochen, als er versuch hatte
Schafe zu besteigen. 
</p>
<p>Sein Hals schnürte sich zu. Er wollte schreien, den Schmerz und
die Schande mit einem Schwert aus sich herausschneiden. Er war dafür
verantwortlich gewesen das unmögliche Kind zu einem Helden zu
erziehen, doch er hatte nur einen Säufer und Lüstling aus ihm
gemacht. Er biss die Zähne so stark aufeinander, dass er sie
knirschen hörte und heiße Tränen vermischten sich mit dem kühlen
Regen. Alim trat auf ihn zu und ergriff seine Hand. Die Häme war von
seinem Gesicht verschwunden und einem unsicheren Schuldbewusstsein
gewichen.</p>
<p>„Es ist nicht Eure Schuld, Simon“, versicherte Alim und bewies
damit ein Einfühlungsvermögen, das Kail nie besessen hatte. Simon
konnte nicht antworten, er bekam kaum Luft. All die Gefühle die ihn
schon heute Morgen überwältigt hatten kamen wieder auf. Dunkel
erinnerte er sich daran, dass er gekommen war, um Alim etwas zu
sagen, ihn zu warnen, doch vor seinen Augen sah er wieder Kails
Leiche. Ein Ende, das er sich nie hätte vorstellen können, als es
vor fünfundzwanzig Jahren in einer ruhigen Sommernacht mit wildem
Kloppfen an der Tür begonnen hatte. Ein verstörtes Mädchen, kaum
dem Kindesalter entwachsen, trug einen Korb in dem zwei winzige
Knaben lagen, blutig, schmierig und verschrumpelt. Der eine
verzweifelt plärrend, der andere weiß wie Kreide. Simon hatte den
anderen für tot gehalten und nur das schreiende Kind in die Decke
geschlagen und zum Feuer gebracht. Er war die rote Sichel auf dem
winzigen Gesicht des Kindes mit dem Finger abgefahren. Er war so
klein gewesen, passte geradezu in seine Handfläche. Simon hatte sich
nicht vorstellen können, dass das Kind überhaupt überleben würde.
Doch es hatte überlebt. Es war schnell gewachsen, hatte vom ersten
Augenblick an die Reflexe eines Kriegers. Mit kaum einem Jahr konnte
Kail nicht nur laufen, er konnte rennen, klettern, raufen. Simon
begann zu zittern als im der Gedanke kam, dass Kail einen imposanten
Eindruck bei seinem Leichenzug abgeben würde. Mit seinen muskulösen
Armen, den breiten Schultern und dem dunklen Haar. Er war sehr wohl
an Kails Tod schuld, genauso wie er an Alims Sarkasmus schuld war.</p>
<p>Simon sah auf. Alim und Kail waren zwar Zwillinge, aber nach
Ähnlichkeiten musste man geradezu suchen. Sie hatten das selbe
dunkle Haar, die selben braunen Augen, damit endete es aber auch,
während man die Unterschiede fast endlos hätte auszählen können.</p>
<p>„Armes Würmchen“, hatte die Amme geflüstert, während sie
das zweite Kind im Korb betrachtet hatte. Kail lag da bereits an
einer dicken runden Brust und saugte gierig. Sie hatte die Finger
nach dem Neugeborenen ausgestreckt, wie Simon davon überzeugt, es
wäre tot, da knisterten Blitze über die blasse Haut und Alim schlug
die Augen auf. Die Amme hatte geschrien und ihn einen Dämon genannt.
Simon hatte es besser gewusst, obwohl er es genauso wenig verstand.
Der Bruder des Auserwählten, der Zwillingsbruder des Mannes, der die
Herrschaft der Magier ein für alle mal beenden sollte, war ein
Magier.</p>
<p>Simon hatte es nicht geschafft die Amme dazu zu bringen auch das
zweite Kind zu stillen, daher hatte er Alim Ziegenmilch gegeben und
gehofft es würde reichen. Es hatte gereicht, er hatte beide
durchgebracht und mit den Knaben war auch er, als Vater gewachsen. Er
hatte immer versucht sie zu beschützen, den einen vor den
Erwartungen, den anderen vor dem Hass der ganzen Welt. Am ersten war
er gescheitert und nur Alim hätte ihm wohl sagen können wie es mit
dem zweiten Stand, doch Simon traute sich nicht zu fragen.</p>
<p>Stockend atmete er ein, riss sich aus dem Schmerz über den
Verlust des einen Sohnes los und besann sich daran, den zweiten zu
retten.</p>
<p>„Du musst hier weg, Alim!“, sagte er und drückte dem jungen
Mann einen Rucksack in die Hand. „Der Orden wird nicht aufgeben,
auch du trägst das Mal der Flut, sie beraten schon seit den
Morgenstunden, ich glaube, sie wollen dich holen.“</p>
<p>Alim starrte ihn an, den Rucksack teilnahmslos
in der Hand haltend, als wüsste er nicht was er damit anfangen
sollte.</p>
<p>„Aber wo soll ich hin?“, fragte er hilflos und zog die
Schultern hoch. Simon glaubte das klirren von Rüstungen zu hören
und drehte sich um.</p>
<p>„Du bist ein Magier, du kannst überall hin! Geh! Jetzt!“
befahl er und schob Alim zwischen den Hütten entlang, doch es war zu
spät. Eine gerüstete Gestalt versperrte ihnen den Weg und zwei
weitere erkannte Simon auf der Straße hinter ihnen. 
</p>
<p>„Simon? Was soll das?“, fragte der Mann vor ihnen und Simon
schöpfte einen Funken Hoffnung, als er die Stimme erkannte.</p>
<p>„Alistair! Bitte! Ich weiß, dass Ihr ihn holen sollt, aber ich
flehe Euch an, behauptet, Ihr hättet ihn nicht gefunden. Lasst Alim
gehen. Die Prophezeiung ist Wahnsinn! Kein Mensch kann mit dieser
Bürde leben! Er ist nicht der Auserwählte, er ist ein Magier! Lasst
nicht zu, dass sie ihn zwingen!“, flehte er.</p>
{% endblock %}
