<div class="well clearfix">
    <h3>Metadaten</h3>
    <h4>{{ textnode.getMetadata.Titel }}</h4>
    <p>von {{ textnode.getMetadata.Autor }} aus {{ textnode.getMetadata.Verlag }}</p>

    <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/de/">
        <img src="{{ asset('build/images/cc-by-sa.png') }}" alt="Creative Commons Lizenzvertrag"/>
    </a>
</div>