<div class="well clearfix">
    <h3>Metadaten</h3>
    <h4>{{ textnode.getMetadata.Titel }}</h4>
    <p>von {{ textnode.getMetadata.Autor }} aus {{ textnode.getMetadata.Verlag }}</p>

    <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/de/">
        {% image '@DembeloMain/Resources/public/images/cc-by-sa.png' %}
        <img src="{{ asset_url }}" alt="Creative Commons Lizenzvertrag"/>
        {% endimage %}
    </a>
</div>