<div class="well clearfix">
    <p class="text-muted">Das war:</p>
    <h2>
        {{ textnode.getMetadata.Titel }} <br />
        <small>von {{ textnode.getMetadata.Autor }} aus {{ textnode.getMetadata.Verlag }}</small>
    </h2>
    <div class="pull-right">
        <a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/de/">
            {% image '@DembeloMain/Resources/public/images/cc-by-sa.png' %}
                <img src="{{ asset_url }}" alt="Creative Commons Lizenzvertrag" />
            {% endimage %}
        </a>
    </div>
</div>