{% extends 'dialog.html.twig' %}

{% block modalLabel %}Information{% endblock %}

{% block modalContent %}
    Dembelo, 2015,<br />
    sexy coded on <a target="_blank" href="https://github.com/typearea/dembelo">github</a>.
{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
{% endblock %}