{% extends 'dialog.html.twig' %}

{% block modalLabel %}Dembelo{% endblock %}

{% block modalContent %}
    Version 0.1.0<br />
    Lizenz: GPL<br />
    by type:area (<a target="_blank" href="http://www.typearea.de/kontakt">www.typearea.de/kontakt/</a>)<br />
    <br />
    Github: (<a target="_blank" href="https://www.github.com/typearea/dembelo">www.github.com/typearea/dembelo/</a>)
{% endblock %}

{% block modalFooter %}
    <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
{% endblock %}